{{ partial "header.html" . }}

<div class="center mw7 pt5 ph3">
	<h1 class="w-100 dib f-headline link blue mb2">{{ .Title}}</h1>
	<h2 class="w-100 dib f2 fw2 link silver mt0">{{ .Site.Params.tagline }}</h2>
</div>
<!-- 
    <main class="pa5">
      <h1 class="ttu fw4 f6 light-silver">Posts</h1>
           {{ range first 10 .Data.Pages }}
                {{ if eq .Type "post"}}
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ .Render "summary"}}
                {{ end }}
            {{ end }}
    </main> -->

{{ partial "footer.html" . }}
