{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">

{{ partial "sidebar.html" . }}

    <div class="content container">
        <h1 class="mt0">{{ .Title }}</h1>
<div class="posts">
  
      {{ range .Data.Pages }}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>

    {{ partial "post-meta.html" . }}

    {{ .Summary }}
  </div>
  {{ end }}
</div>
</div>

  </body>
  {{ partial "ga.html" . }}  
</html>
