  {{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}

    <div class="content container">
      <div class="post">
        <h1 class="mt0">{{ .Title }}</h1>
        {{ if .Params.categories }}
          <span class="post-date">posted {{ .Date.Format "Mon, Jan 2, 2006" }} in 
            {{ range .Params.categories }}
              <a class="tag" href="/categories/{{ . | urlize }}">#{{ . }}</a>
            {{ end }}
          </span>
        {{ else }}
          <span class="post-date">posted {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        {{ end }}
           {{ .Content }}
      </div>

        <h2>Comments</h2>
        {{ partial "disqus" . }}
    </div>

  </body>
{{ partial "ga.html" . }}  
</html>
