    <div class="center mw7 ph3">

      {{ if .IsHome }}
        <h3 class="w-100 dib f3 fw1 link gray">See our <a class="no-underline green" href="/work">work</a>, read our <a class="no-underline red" href="/posts">perspectives</a>, or <a class="no-underline orange" href="/contact">contact</a> us.</h3>
      {{ else }}  
        <h3 class="w-100 dib f3 fw1 link gray"><a class="blue no-underline" href="/">Royce Wells. </a>See our <a class="no-underline green" href="/work">work</a>, read our <a class="no-underline red" href="/posts">perspectives</a>, or <a class="no-underline orange" href="/contact">contact</a> us.</h3>
      {{ end }}
    </div>
  </body>
</html>
