{{ partial "head.html" . }}
<body  class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
<div class=""></div>  
{{ partial "sidebar.html" . }}

    <div class="content container" >

      {{ .Content }}
      <span class="archive-list"> Recently I've written about
        {{ range first 3 (where .Site.Pages "Section" "writing") }}
          <span>
            <a href={{.Permalink}}>{{ .Title }}</a>; 
          </span>
        {{end}} and <a href="/writing">more</a>. 
        Sign up below to get a weekly email with my latest posts.
      </span>
      <br>
      {{ partial "mailchimp.html" }}
      
  </body>
{{ partial "ga.html" . }}  

</html>
